.git
.cache
**/*.class
.ipynb_checkpoints

*.md
!README*.md
README-secret.md

LandStack

datasets


scripts/postprocessing


.gitignore
augment_data.ipynb
Dockerfile
Dockerfile.train
find_best_thresholds_and_calculate_f_scores.py
generate_predictions_based_on_logits_and_thresholds.py
temp.py
train_use_class_classifier.py


.env
*.env

